* {margin:0; padding:0; box-sizing: border-box; }
.swiper {
    width:100%; height: 1000px;
}
.swiper .swiper-slide {
    font-size: 18px;
    color: #111;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}